<div fxFlex="25%" fxFlex.xs="100%" fxLayoutGap="25px" fxLayout.lt-xs="column">
  <h2 class="mat-display-1">Search Users</h2>
  <mat-form-field [style.width.%]="100" floatLabel="always" style="background-color:saddlebrown">
    <input type="text" placeholder="Search Users" aria-label="Number" matInput (keyup)="applyFilter($event)">
  </mat-form-field>


  <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" fxLayout="column"  fxLayout.lt-sm="column"   fxLayoutGap="15px">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Name Column -->
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="html_url">
        <th mat-header-cell *matHeaderCellDef> User URL </th>
        <td mat-cell *matCellDef="let element"> {{element.html_url}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="avatar_url">
        <th mat-header-cell *matHeaderCellDef> Avatar </th>
        <td mat-cell *matCellDef="let element" ><img [src] = "element.avatar_url" style="width: 100px; height:100px"/> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100" [pageSize]="5" [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

  </div>
</div>
