<div class="container" fxFlex="25%" fxFlex.xs="100%" fxLayoutGap="25px" fxLayout.lt-xs="column">
  <div class="row">
    <div class="btn-group" >
      <button style="margin-right:5px" class="btn btn-primary" (click)="toggleAutomaticLoading()" [ngClass]="isAutomaticLoadingEnabled ? 'btn-danger' : 'btn-primary'">
        {{isAutomaticLoadingEnabled ? 'Stop': 'Start'}} Auto Loading
      </button>
      <button style="margin-right:5px" class="btn btn-primary btn-success" (click)="loadMore()">Load Next Batch</button>
      <button class="btn btn-primary btn-check" (click)="reset()">Reset</button>
    </div>
  </div>
  <hr>
  <div>
    <div class="card" style="margin-left: 20px; margin-right:20px; background-color:lightgray;border:solid 2px">
      <div class="row card-body" >
        <div class="col-2">User Id</div>
        <div class="col-3">Username</div>
        <div class="col-3">User Link</div>
        <div class="col-4">Avatar/URL</div>
      </div>
    </div>
  </div>
  <div class="row">
    <app-user *ngFor="let user of usersList" [user]="user"></app-user>
  </div>
</div>

