.container{
  margin-left: 30%;
  margin-right: 30%;
}

.mat-header-cell{
  padding-top: 10px;
  padding-left: 50px;
  width: 100%;
}

.mat-cell{
  padding-top: 10px;
  padding-left: 50px;
  width: 100%;
}
