<style>

  .toolbar {
    position: absolute;
    top: 2%;
    left: 35%;
    right: 35%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00437f;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 1%;
  }
</style>


<!-- <div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://th.bing.com/th/id/R.724794164fb289dd2f7d69dde7ac3bc0?rik=H5bTVhjLhZdHOQ&pid=ImgRaw&r=0"
  />
  <span>Welcome to Browse GitHub Users</span>
    <div class="spacer"></div>
</div> -->


<router-outlet></router-outlet>
<app-view-users></app-view-users>
