<div class="container">
    <div class="card">
        <div class="row card-body">
            <div class="col-2">{{user.id}}</div>
            <div class="col-3">{{user.login}}</div>
            <div class="col-3">{{user.html_url}}</div>
            <div class="col-4" *ngIf="user.isIdOdd"><img [src]="user.avatar_url" style="width: 100px; height:100px" alt="Avatar"></div>
            <div class="col-4" *ngIf="!user.isIdOdd">
              <div class="alert alert-primary" role="alert">
                {{user.avatar_url}}
              </div>
            </div>
        </div>
    </div>
</div>
